<!doctype html>
<html>
<head>
	<base href="http://localhost/timbo-web/"/>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Timbo</title>
	<link rel="stylesheet" href="css/bootstrap-4.5.3-dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<link rel="stylesheet" href="style.css" />
</head>
<body>
<div id="timbo-app">
	<div id="container">
		<div class="container-fluid h-100">
			<div class="row h-100">
				<div class="col-sm-3 h-100">
					<aside id="sidebar">
						<div id="logo">
							<img src="images/logo.png" alt="Timbo" class="img-fluid" />
						</div>
						<div class="block">
							<div class="accordion">
								<div class="card">
									<div class="card-header">
										<h2 class="mb-0">
											<button class="btn btn-block" data-toggle="collapse" data-target="#collapse-music">M&uacute;sica</button>
										</h2>
									</div>
									<div id="collapse-music" class="collapse show">
										<categories-list></categories-list>
									</div>
								</div>
							</div>
						</div>
						<div class="block">
							<div class="accordion">
								<div class="card">
									<div class="card-header">
										<h2 class="mb-0">
											<button class="btn btn-block" data-toggle="collapse" data-target="#collapse-playlists">
												Mis Playlists
											</button>
										</h2>
									</div>
									<div id="collapse-playlists" class="collapse show">
										<playlist-list></playlist-list>
									</div>
								</div>
							</div>
						</div>
						<div class="block">
							<div class="accordion">
								<div class="card">
									<div class="card-header">
										<h2 class="mb-0">
											<button class="btn btn-block" data-toggle="collapse" data-target="#collapse-bookmarks">
												Mis Favoritos
											</button>
										</h2>
									</div>
									<div id="collapse-bookmarks" class="collapse show">
										<bookmarks-list></bookmarks-list>
									</div>
								</div>
							</div>
						</div>
					</aside>
				</div>
				<div class="col-sm-9">
					<header id="header">
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-3"></div>
								<div class="col-sm-6">
									<search></search>
								</div>
								<div class="col-sm-3"></div>
							</div>
						</div>
					</header>
					<main>
						<div id="content">
							<keep-alive>
								<component v-bind:is="com_current" v-bind:args="com_args" v-bind:key="com_key"></component>
							</keep-alive>
						</div>
						<div id="player">
							<sbplayer ref="$sbplayer"></sbplayer>
						</div>
					</main>
				</div>
			</div>
		</div>
	</div>
	<div id="app-toast" 
		style="position:fixed;z-index:500;top:-100%;right:10px;left:10px;transition:all 0.5s ease;" v-bind:style="{top: toast.message ? 0 : '-100%'}" 
		class="alert" v-bind:class="{ 'alert-success': toast.success, 'alert-danger': toast.danger }">
		{{ toast.message }}
		<a href="javascript:;" class="btn btn-sm" style="position:absolute;right:5px;top:5px;" v-on:click="CloseToast()">X</a>
	</div>
</div>
<script src="js/jquery-3.5.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="css/bootstrap-4.5.3-dist/js/bootstrap.min.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/components/sb-player.js"></script>
<script src="js/components/vlink.js"></script>
<script src="js/components/routes.js"></script>
<script src="js/components/rerouter.js"></script>
<script src="js/components/api.js"></script>
<script src="js/components/api-timbo.js"></script>
<script src="js/components/search/search.js"></script>
<script src="js/components/categories/list.js"></script>
<script src="js/components/categories/category.js"></script>
<script src="js/components/groups/single.js"></script>
<script src="js/components/app.js"></script>
</body>
</html>
