:root{
	--main-color: #ff2263;
	--main-bg-color: #0000000;
	--player-icon-size: 25px;
}
a:hover{text-decoration:none;}
html, body{margin:0;padding:0;width:100%;height:100%;background:#000;color:#fff;}
#timbo-app, #container{height:100%;}
#logo{text-align:center;}
#logo img{max-height: 80px;}
#header{padding: 10px;}
#sidebar{height:100%;border-right: 2px solid #404040;overflow:auto;}
#sidebar .block{max-height: 400px;background:#000;}
#sidebar .block .card{background-color:inherit;}
#sidebar .block .card .card-header h2{color: var(--main-color);}
#sidebar .block .card .card-header h2 button{color:inherit;text-align:left;text-transform:uppercase;}
#sidebar .block .card ul.list{list-style:none;padding:0;margin:0;}
#sidebar .block .card ul.list li a{display:block;color:#fff;}

.music-group{height:250px;cursor:pointer;}
.music-group .image{height:70%;overflow:hidden;text-align:center;}
.music-group .image img{max-height:100%;border-radius:10px;}
.music-group .title{font-size:15px;text-align:center;}

.card{background:#000;}
.card .card-header{background:#000;}

.group-album{position:relative;}
.group-album .name{font-size:12px;}
.group-album .play-album{background: var(--main-color);color:#fff;border-radius:100%;padding:2px;display:inline-block;position:absolute;top:-10px;right:-10px;width:25px;height:25px;text-align:center;font-size:12px;}

#sbplayer{position:fixed;left:0;right:0;bottom:0;padding:10px;background:#000;}
.sb-play-progress-wrap{margin:0 38px;position:relative;}
.sb-play-progress-wrap .elapsed, .sb-play-progress-wrap .total-time{position:absolute;top:-6.5px;font-size:12px;}
.sb-play-progress-wrap .elapsed{left: -36px;}
.sb-play-progress-wrap .total-time{right: -36px;}
.sb-play-progress{position:relative;}
.sb-play-progress .progress{height:5px;}
.sb-play-progress .progress .progress-bar{background-color:var(--main-color);position:relative;}
.sb-play-progress .progress .handler{display:block;border-radius:100%;width:15px;height:15px;background:#fff;border:1px solid #ececec;position:absolute;left:0;top:-5px;cursor:pointer;}
#sbplayer .ctrl{display:inline-block;font-size:var(--player-icon-size);padding:10px;color:var(--main-color);}
#sbplayer .ctrl i{color:inherit;}
